/* =================================================
                 #Common Shared css Start
=================================================== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1170px;
    margin: 0 auto;
    font-family: "Mulish", sans-serif;
    margin-bottom: 50px;
}
/* ul, ol{
    list-style: none;
} */
a{
    text-decoration: none;
}
.btn-primary{
    background: #FF5400;
    border: 0;
    padding: 10px 35px;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    
}
/* =================================================
                 #Common Shared css end
=================================================== */
/* =================================================
                 #Navbar start
=================================================== */
.navBar{
    display: flex;
    justify-content: space-between;
}
.navBar ul, ol{
    list-style: none;
}

.navBar ul{
    display: flex;
    column-gap: 44px;
    align-items: center;
}
.navBar li a:hover{
    color: #FF5400;
}

.navBar .travel{
    color: #FF5400;
}
.navBar h1{
    font-size: 36px;
    font-weight: 800; 
    margin: 50px 0;
}
.navBar .menuBar{
    display: flex;
    align-items: center;
    display: none;
}
/* =================================================
                 #Navbar End
=================================================== */
/* =================================================
                 #Explor part Start
=================================================== */
.explore{
    position: relative;
}
.explore img{
    max-width: 100%;
    height: auto;
}
.explore .exploreContent{
    text-align: center;
    position: absolute;
    top: 50px;
    left: 287px;
    right: 287px;
}

.explore .exploreContent h1{
    color: #fff;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 50px;
}
.explore .exploreContent p{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-bottom: 50px;
}
form input, select{
    color: rgba(19, 19, 24, 0.50); 
    background: #fff;
    width: 160px;
    padding: 10px;
    border-radius: 7px;
    border: 0;

}
form{
    display: flex;
    background: rgba(255, 255, 255, 0.30); 
    border-radius: 8px;
    width: 800px;
    margin: 0 auto;
    position: absolute;
    top: 270px;
    right: 200px;
    left: 200px;
    text-align: center;
    padding:15px 0;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
}
.fa-magnifying-glass{
    margin-right: 5px;
    font-size: 20px;
}
/* =================================================
                 #Explor part End
=================================================== */




/* =================================================
                 #popular-tour start
=================================================== */
.popular-tour{
    display: flex;
}
.popular-tour .text{
    width: 50%;
}
.popular-tour .text h1{
    font-size: 48px;
    font-weight: 800;
    text-align: left;
    color: #131318; 
}
.popular-tour .text p{
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: rgba(19, 19, 24, 0.70); 
    margin-top: 20px; 
}
.popular-tour .text li {
    margin-top: 10px;
    margin-left: 15px;
    
}
.popular-tour .text .read-btn{
    margin-top: 25px;
}

/* =================================================
                 #popular-tour End
=================================================== */
/* =================================================
                 #choose-your-destination start
=================================================== */
.choose-your-destination{
    width: 50%;
    margin: 0 auto;
}
.choose-your-destination h1{
    color: #131318;
    text-align: center; 
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}
.choose-your-destination p{
    text-align: center;
    color: rgba(19, 19, 24, 0.70); 
    line-height: 26px;
}
/* =================================================
                 #choose-your-destination End
=================================================== */
/* =================================================
                 #photo-galary start
=================================================== */
.photo-galary{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}
.photo-galary .img-1{
    position: relative;
}
.photo-galary .img-2{
    position: relative;
}
.photo-galary .img-3{
    position: relative;
}
.photo-galary .img-4{
    position: relative;
}
.photo-galary .img-5{
    position: relative;
}
.photo-galary .img-6{
    position: relative;
}
.photo-galary .img-7{
    position: relative;
}
.photo-galary h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    color: #fff;
}
/* =================================================
                 #photo-galary End
=================================================== */
/* =================================================
                 #why choose us start
=================================================== */
.why-choose-us{
    width: 50%;
    margin: 0 auto;
}
.why-choose-us h1{
    color: #131318;
    text-align: center; 
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}
.why-choose-us p{
    text-align: center;
    color: rgba(19, 19, 24, 0.70); 
    line-height: 26px;
}
/* =================================================
                 #why choose us End
=================================================== */

/* =================================================
                 #services start
=================================================== */
.services{
    display: flex;
    flex-wrap: wrap;
    column-gap: 12px;
    row-gap: 24px;
    
}
.services .box{
    width: 48%;
    margin: 0 auto;
    padding: 20px 0;
}
.services .box img{
    margin: 0 16px;
}
.services .box h3{
    color: #131318;
    font-size: 24px;
    margin: 32px 16px 16px;
}
.services .box p{
    color: #131318;
    font-size: 16px;
    line-height: 26px;
    margin: 0 16px;
}
.services .box-1{
    background: rgba(251, 181, 99, 0.05)
}
.services .box-2{
    background: rgba(41, 206, 246, 0.05)
}
.services .box-3{
    background: rgba(233, 68, 68, 0.05); 
}
/* =================================================
                 #services End
=================================================== */


/* =================================================
                 #deals-and-discount start
=================================================== */
.deals-and-discount{
    width: 50%;
    margin: 0 auto;
}
.deals-and-discount h1{
    color: #131318;
    text-align: center; 
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}
.deals-and-discount p{
    text-align: center;
    color: rgba(19, 19, 24, 0.70); 
    line-height: 26px;
}
/* =================================================
                 #deals-and-discount End
=================================================== */
/* =================================================
                 #tour-to-satorini Start
=================================================== */
.tour-to-satorini .package-1{
    position: relative;
}

.tour-to-satorini .package-2{
    position: relative;
}
.tour-to-satorini .package-3{
    position: relative;
}
/* .package-1 */
.tour-to-satorini .package-1 .package-content{
    width: 579px;
    background: rgba(255, 255, 255, 0.80);
    position: absolute;
    top: 56px;
    right: 56px;
    padding: 40px;
}
.tour-to-satorini .package-1 .package-content h3{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin: 20px;
}
.tour-to-satorini .package-1 .package-content p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400px;
    line-height: 26px;
    margin: 16px 20px;
}
 .package-content .package-1 .package-content .icon{
    color: #FF5400;
    margin: 16 20px;
    margin-left: 10px;
}
.package-content .package-1 .package-content span{
    margin-right: 20px;
}
 .package-content .package-1 .package-content .price{
    color: #FF5400;
    margin: 16px 20px;
 }
 .package-content .package-1 .package-content .book-now{
    margin-bottom: 32px;
    margin-left: 16px;
 }
/* Package-2 */
.tour-to-satorini .package-2 .package-content{
    width: 579px;
    background: rgba(255, 255, 255, 0.80);
    position: absolute;
    top: 56px;
    left: 56px;
    padding: 40px;
}
.tour-to-satorini .package-2 .package-content h3{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin: 20px;
}
.tour-to-satorini .package-2 .package-content p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400px;
    line-height: 26px;
    margin: 16px 20px;
}
 .package-content .package-2 .package-content .icon{
    color: #FF5400;
    margin: 16 20px;
    margin-left: 10px;
}
.package-content .package-2 .package-content span{
    margin-right: 20px;
}
 .package-content .package-2 .package-content .price{
    color: #FF5400;
    margin: 16px 20px;
 }
 .package-content .package-2 .package-content .book-now{
    margin-bottom: 32px;
    margin-left: 16px;
 }
/* package-3 */
.tour-to-satorini .package-3 .package-content{
    width: 579px;
    background: rgba(255, 255, 255, 0.80);
    position: absolute;
    top: 56px;
    right: 56px;
    padding: 40px;
}
.tour-to-satorini .package-3 .package-content h3{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin: 20px;
}
.tour-to-satorini .package-3 .package-content p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400px;
    line-height: 26px;
    margin: 16px 20px;
}
 .package-content .icon{
    color: #FF5400;
    margin: 16 20px;
    margin-left: 10px;
}
.package-content .package-3 .package-content span{
    margin-right: 56px;
}
 .package-content .price{
    color: #FF5400;
    margin: 16px 20px;
    font-size: 20px;
    font-weight: 800;
 }
 .package-content .book-now{
    margin-bottom: 32px;
    margin-left: 16px;
 }
 .button-see-all{
    width: 50%;
    margin: 0 auto;
    transform: translate(40%);
 }
 .see-all-package{
    margin-top: 50px;
 }
/* =================================================
                 #tour-to-satorini End
=================================================== */
/* =================================================
                 #get-lost start
=================================================== */
.get-lost{
    display: flex;
}
.get-lost .left{
    width: 50%;
    padding: 10px;
}
.get-lost .left h1{
    font-size: 40px;
    line-height: 60px;
    font-weight: 800;
    text-align: left;
    color: #131318; 
}
.get-lost .left p{
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: rgba(19, 19, 24, 0.70); 
    margin-top: 20px; 
}
.get-lost .left li {
    margin-top: 10px;
    margin-left: 15px;
    
}
.get-lost .left .see-more-btn{
    margin-top: 25px;
}
/* =================================================
                 #get-lost End
=================================================== */



/* =================================================
                 #Media query Start
=================================================== */

@media screen and (max-width:576px) {
    .container{
        max-width: 100%;
        padding: 10px;
    }
    .navBar h1{
        font-size: 21px;
    }
    .navBar{
        justify-content: space-between;
        padding: 30px;
    }
    .navBar ul{
        display: none;
    }
    .navBar .menuBar{
        display: flex;
    }
    .explore .exploreContent h1{
        font-size: 22px;
    }
    .explore .exploreContent p{
        font-size: 12px;
        line-height: 20px;
    }
    .explore .exploreContent{
       
        top: 10px;
        left: 20px;
        right: 20px;
    }
    .explore img{
        height: 480px;
    }

    form{
        width: 287px;
        row-gap: 10px;
        flex-direction: column;
        top: 170px;
        right: 10px;
        left: 10px;
        justify-content: center;
    }
    .popular-tour{
        flex-direction: column;
        row-gap: 30px;
    }
    .popular-tour .text{
        width: 100%;
    }
    .popular-tour .text h1{
        font-size: 20px;
    }
    .popular-tour .text p{
        font-size: 14px;
        line-height: 20px;
    }
    .popular-tour-img img{
        max-width: 100%;
    }
    .why-choose-us h1{
        font-size: 20px; 
        margin-bottom: 16px;
    }
    .why-choose-us p{
        font-size: 14px; 
        line-height: 24px;
        
    }
    .why-choose-us{
        width: 100%;
       
    }
    .photo-galary{
        flex-direction: column;
        row-gap: 12px;
    }
    .photo-galary img{
        max-width: 100%;
        height: auto;
    }
    .choose-your-destination h1{
        font-size: 20px; 
        margin-bottom: 16px;
    }
    .choose-your-destination p{
        font-size: 14px; 
        line-height: 24px;
        
    }
    .choose-your-destination{
        width: 100%;
       
    }
    .services .box h3{
        color: #131318;
        font-size: 20px;
        font-weight: 800;
        margin: 10 16px;
    }
    .services .box p{
        color: #131318;
        font-size: 14px;
        line-height: 24px;
        margin: 0 16px;
    }
    .services{
        flex-direction: column;
    }
    .services .box{
        width: 100%;
        
    }
    

    .deals-and-discount h1{
        font-size: 20px; 
        margin-bottom: 16px;
    }
    .deals-and-discount p{
        font-size: 14px; 
        line-height: 24px;
        
    }
    .deals-and-discount{
        width: 100%;
       
    }
    .package-content .price{
        margin: 10px 5px;
        font-size: 14px;
     }
     .package-content .book-now{
        margin-bottom: 12px;
        margin-left: 5px;
     }
     .package-content .icon{
        margin: 5px 2px;
        margin-left: 2px;
    }
    .tour-to-satorini img{
        max-width: 100%;
        height: 297px;
        margin-bottom: 16px;
    }
    .tour-to-satorini .package-3 .package-content{
        width: 303px;
        left: 16px;
        top: 64px;
        padding: 5px;
    }
    .tour-to-satorini .package-3 .package-content h3{
        color: #131318;
        font-size: 20px;
        font-weight: 800;
        margin: 2px;
    }
    .tour-to-satorini .package-3 .package-content p{
        color: #131318;
        font-size: 12px;
        font-weight: 400;
        line-height: 22px;
        margin: 2px;
    }

    
    .tour-to-satorini .package-2 .package-content{
        width: 303px;
        left: 16px;
        top: 64px;
        padding: 5px;
    }
    .tour-to-satorini .package-2 .package-content h3{
        color: #131318;
        font-size: 20px;
        font-weight: 800;
        margin: 2px;
    }
    .tour-to-satorini .package-2 .package-content p{
        color: #131318;
        font-size: 12px;
        font-weight: 400;
        line-height: 22px;
        margin: 2px;
    }

    .tour-to-satorini .package-1 .package-content{
        width: 303px;
        left: 16px;
        top: 64px;
        padding: 5px;
    }
    .tour-to-satorini .package-1 .package-content h3{
        color: #131318;
        font-size: 20px;
        font-weight: 800;
        margin: 2px;
    }
    .tour-to-satorini .package-1 .package-content p{
        color: #131318;
        font-size: 12px;
        font-weight: 400;
        line-height: 22px;
        margin: 2px;
    }
    
    .button-see-all{
       
        transform: translate(10%);
     }
     .see-all-package{
        margin-top: 25px;
     }

     .get-lost{
        flex-direction: column;
        row-gap: 20px;
    }
    .get-lost .left{
        width: 100%;
        padding: 2px;
    }
    .get-lost .left h1{
        font-size: 20px;
        line-height: 30px;
        font-weight: 800;
        
    }
    .get-lost .left p{
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        text-align: left;
        color: rgba(19, 19, 24, 0.70); 
        margin-top: 20px; 
    }
    .get-lost .right img{
        max-width: 100%;
    }
   
}

/* =================================================
                 #Media query End
=================================================== */
           
